/build
/bin
.DS_Store
.classpath
.project
/.gradle
/.settings
.jshintrc
node_modules
Schooltoring.iml
.idea
rev-manifest.json
src/main/resources/public/dist
src/main/resources/public/template/entcore
src/main/resources/public/js
src/main/resources/view
out
build